<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Azure.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pourtest;AccountKey=4iYhBQC8le0aXjUBDTXd61JaL+532uTwCGrrhXMtk4cr4+B0naa9B8VPSjQpvat9UQnaSlFILABuWtrdgAHvpw==" />
    <add key="Pour.Token" value="28a96c5f85ee2e2c912f9d5fc97818075loFm05qhhyDXj9OfzZBpBllEFzNU4Dx" />
  </appSettings>
</configuration>